{% extends 'admin/admin-base/admin-base.html' %}

{% block page_title %}
Block - Proto_blockType
{% endblock %}

{% block admin_content %}
{% set _blockType = getBlockProp(block, '_blockType') %}
<p><a class="link-back" href="/admin/blocks/{{ _blockType }}">Back to {{ _blockType }}</a></p>

<h1 class="{{ govukClassname('heading-large') }}">{{ block }}</h1>

{% if stringProps.length %}
<ul class="{{ govukClassname('list-bullet') }}">
{% for prop in stringProps %}
<li><a href="/admin/block/{{ block }}/{{ prop }}">{{ prop }}</a></li>
{% endfor %}
</ul>
{% endif %}

<form method="post">
<textarea name="block" id="block" cols="80" rows="1">{{blockJSON | safe}}</textarea>
<p><button class="{{ govukClassname('button') }}">Update block</button></p>
</form>

{% endblock %}
