{% extends 'admin/admin-base/admin-base.html' %}

{% block page_title %}
Block - Proto_blockType
{% endblock %}

{% block admin_content %}
{% set _blockType = getBlockProp(block, '_blockType') %}
<p><a class="link-back" href="/admin/blocks/{{ _blockType }}">Back to {{ _blockType }}</a></p>

<h1 class="{{ govukClassname('heading-large') }}">
{{ block }}
{% if _blockType == 'Route' %}
{% set routeUrl = getRouteUrl(block) %}
{% if routeUrl %}
<small><a href="{{ routeUrl }}">{{ routeUrl }}</a></small>
{% endif %}
{% endif %}
</h1>

{% if stringProps.length %}
<ul class="{{ govukClassname('list-bullet') }}">
{% for prop in stringProps %}
<li><a href="/admin/block/{{ block }}/{{ prop }}">{{ prop }}</a></li>
{% endfor %}
</ul>
{% endif %}

<form method="post">
<details>
  <summary><span class="summary">Edit raw block</span></summary>
  <div class="{{ govukClassname('summary-details') }}">
    {{ Block.Text('block', value=blockJSON, multiline=true, rows=1) }}
  </div>
  <div class="admin-actions">
  <button class="{{ govukClassname('button') }}">Update {{ block }}</button>
  </div>
  <h2 class="{{ govukClassname('heading-medium') }}">Expanded JSON</h2>
  <p class="blockJSONExpanded">{{blockJSONExpanded | safe}}</p>
</details>


  <div class="admin-actions">
  {{ Block.Text('cloneId', label='New property / block id')}}
  <button name="action" value="prop" class="{{ govukClassname('button') }}">Add property</button>
  <button name="action" value="clone" class="{{ govukClassname('button') }}">Clone block</button>
  <button name="action" value="delete" class="{{ govukClassname('button') }} button--delete">Delete {{ block }}</button>
  </div>

</form>

{% endblock %}
