{% macro FeedbackBanner() %}
<div class="FeedbackBanner">
<div class="{{ govukClassname('gv-o-wrapper') }}">
<p class="FeedbackBanner__heading">{{ Block.String('FeedbackBanner__heading') }}</p>
<p class="FeedbackBanner__link">{{ Block.String('FeedbackBanner__link') }}</p>
</div>
</div>
{% endmacro %}
{# data-link-type="feedback-banner" #}