{% macro MultipleRouteAdd(name) %}
{% if route.multiple_counter %}
{% set addValue = 1 %}
{% if autofields[route.multiple_counter] %}{% set addValue = autofields[route.multiple_counter]| int %}{% endif %}
{% set addValue = addValue + 1 %}
{% if route.multiple_max >= addValue %}
{% if name %}{% set addLabel = getFormattedProp(name, 'value') %}{% endif %}
{% if not addLabel %}{% set addLabel = getFormattedProp(route.id, 'multiple_add', 'Add another') %}{% endif %}
<button class="button button--add" type="submit" name="add" value="{{ route.multiple_counter }}">{{ addLabel | safe }}</button>
{% endif %}
{% endif %}
{% endmacro %}