{% from '../Fieldset/Fieldset.njk' import Fieldset with context %}
{% from '../OptionLabel/OptionLabel.njk' import OptionLabel with context %}
{% from '../SubBlock/SubBlock.njk' import SubBlock with context %}
{% macro RadioGroup(name, inline='', reveals='', visually_hidden=true, or=false) %}
{% set prefixedName = name %}
{% if route._prefix %}{% set prefixedName = route._prefix + prefixedName %}{% endif %}
{% set error = getError(prefixedName) %}
<div class="form-group{% if error %} error{% endif %}"{% if name %} data-block-name="{{name}}"{% endif %}>
{% call Fieldset(name, inline=inline) %}
    {% set or = getBlockProp(name, 'or') %}
    {% set reveals = getBlockProp(name, 'reveals') %}{# ? #}
    {% set excludes = getBlockProp(name, 'reveals_exclude') %}{# ? #}
    {% set open = false %}
    {% set closed = false %}
    {# {% set hasOptionReveals = false %}
    {% for option_name in getBlockProp(name, 'options') %}
      {% if option_name.value %}
        {% set option = option_name %}
      {% else %}
        {% set option = getBlock(option_name) %}
      {% endif %}
      {% if checkReveals(name, option.value) %}{% set hasOptionReveals = true %}{% endif %}
    {% endfor %} #}
    {% for option_name in getBlockProp(name, 'options') %}
      {% if option_name.value %}
        {% set option = option_name %}
      {% else %}
        {% set option = getBlock(option_name) %}
      {% endif %}
      {% set checked = false %}
      {% if option.value === getValue(prefixedName) %}
        {% set checked = true %}
      {% endif %}
      {% set optionReveals = checkReveals(prefixedName, option.value) %}
      {# {% if option.value === 'yes' %}{{ optionReveals }}{% endif %} #}
      {#{% if excludes %}
        {% for val in excludes %}
          {% if val === option.value %}
            {% set optionReveals = false %}
          {% endif %}
        {% endfor %}
      {% endif %}#}
      {% if checked %}
        {% set closed = true %}
      {% endif %}
      {% if optionReveals and checked %}
        {% set open = true %}
        {% set closed = false %}
      {% endif %}
      {% if loop.last %}
        {% if or %}
          <p class="form-block">{{ getString('string:or') }}</p>
        {% endif %}	
      {% endif %}
      <div class="multiple-choice"{% if optionReveals %} data-target="reveals--{{ optionReveals }}"{% endif %}>
        <input id="{{ prefixedName }}-option-{{ loop.index }}" type="radio" name="{{ prefixedName }}" value="{{ option.value }}"{% if checked %} checked{% endif %}{% if optionReveals %} aria-controls="reveals--{{ optionReveals }}"{% endif %}>
      <label data-block-name={{option_name}} for="{{ prefixedName }}-option-{{ loop.index }}" class="block-label selection-button-radio">
        {{ OptionLabel(option) }}
      </label>
      </div>
      {{ SubBlock(option.subblock) }}
    {% endfor %}
    {{ SubBlock(getBlockProp(name, 'subblock'), closed=closed) }}
{% endcall %}
</div>
{% endmacro %}