{% extends 'admin/admin-base/admin-base.html' %}

{% block page_title %}
{{ prop }} - {{ block }}
{% endblock %}

{% block admin_content %}
{% if not _blockType %}
{% set _blockType = getBlockProp(block, '_blockType') %}
{% endif %}
{# <p><a class="link-back" href="/admin/blocks/{{ _blockType }}">Back to {{ _blockType }} blocks</a></p> #}
<p class="edit-link-back"><a class="link-back" href="/admin/block/{{ block }}">Back to <strong>{{ block }}</strong></a></p>

<p class="blockName"><a class="header-link-back" href="/admin/block/{{ block }}">{{ block }}</a></p>
<h1 class="{{ govukClassname('heading-large') }}">{% if propSchema.title %}{{ propSchema.title }}{% else %}{{ prop }}{% endif %}</h1>

{% if doesNotExist %}
<p>{{ block }} doesn’t exist yet</p>
<p><a href="/admin/block/{{ block }}">Create {{ block }}</a></p>
{% else %}
<form method="post">
<div class="propType {{ propType }}Prop{% if propSchema.blockReference %} propBlockReference{% endif %}">
{% if propType == 'string' %}
{% if propSchema.blockReference %}

<p>{% if value %}<a href="/admin/block/{{ value }}">{{ value }}</a>{% else %}Not set{% endif %}</p>

{% endif %}
{{ Block.Text('value', value=value, multiline=multiline, rows=1) }}
{% endif %}
{% if propType == 'object' %}
{% if value %}{% set value = jsonify(value) %}{% endif %}
{{ Block.Text('value', value=value, multiline=true, rows=1) }}
{% endif %}
{% if propType == 'number' %}
{{ Block.Number('value', value=value) }}
{% endif %}
{% if propType == 'boolean' %}
{% set trueOption = { value: 'true', label: 'True', checked: value } %}
{% if not value %}{% set falseChecked = true %}{% endif %}
{% set falseOption = { value: 'false', label: 'False', checked: falseChecked } %}
{% set valueOptions = [trueOption, falseOption] %}
{{ Block.RadioGroup('value', options=valueOptions) }}
{% endif %}
{% if propType == 'array' %}
{% set arrayObject = false %}
{% set arrayType = propSchema.items.type %}
{% if arrayType == 'object' %}
{% set arrayObject = true %}
{% endif %}
{% for valueItem in value %}
<div class="container propContainer{% if arrayObject %} objectPropContainer{% endif %}">
{% if arrayType == 'object' %}
{% set valueItem = jsonify(valueItem) %}
{% endif %}
{% if propSchema.items.type == 'object' %}
{{ Block.Text('value', value=valueItem, multiline=arrayObject) }}
{% else %}
{% if propSchema.items.blockReference %}
<div class="js-hidden">{{ Block.Text('value', value=valueItem, multiline=arrayObject) }}</div>
<span class="blockReferenceLink"><a href="/admin/block/{{ valueItem }}">{{valueItem }}</a></span>
{% else %}
{{ Block.Text('value', value=valueItem, multiline=arrayObject) }}
{% endif %}
{% endif %}
<div class="blockActions">
{% if arrayType != 'object' %}
<p class="blockLink"><a href="/admin/block/{{ valueItem }}" title="{{valueItem}} block">{}</a></p>
{% endif %}
<p class="blockRemove"><span title="Remove {{valueItem}}">Remove{% if arrayType == 'object' %} rule{% endif %}</span></p>{# ⌫ #}
</div>
</div>
{% endfor %}
{% if propSchema.items.blockReference %}

<p class="add--blockReferenceLink"><span class="blockReferenceLink"><a href="/admin/select/block/{{ block }}?blockRef={{ block }}&amp;propertyRef={{ prop }}">Add {{ prop }} item</a></span></p>
{% else %}
<div class="container propContainer{% if arrayObject %} objectPropContainer{% endif %}">
{{ Block.Text('value', value='', multiline=arrayObject, placeholder='Add new item') }}
</div>
{% endif %}
{% endif %}
</div>

{% if noValue %}{% if propType != 'array' %}{% if not propSchema.type %}
{% set stringOption = { value: 'string', label: 'String', checked: true } %}
{% set arrayOption = { value: 'array', label: 'Array' } %}
{% set objectOption = { value: 'object', label: 'Object' } %}
{% set numberOption = { value: 'number', label: 'Number' } %}
{% set booleanOption = { value: 'boolean', label: 'Boolean' } %}
{% set propTypeOptions = [stringOption, numberOption, booleanOption, arrayOption, objectOption] %}
{{ Block.RadioGroup('propType', options=propTypeOptions) }}
  {% endif %}{% else %}
  <input type="hidden" name="propType" value="{{ propType }}">
  {% endif %}
{% else %}
<input type="hidden" name="propType" value="{{ propType }}">
{% endif %}

{% if prop == 'depends' %}
<div role="note" aria-label="Information" class="depends_explanation panel panel-border-wide info-notice">
<p>The runtime value of ‘{{ propSchema.title}}’ property will be true if any of its rules evaluate to true.</p>
<p>A rule evaluates to true if all of the conditions in it are true.</p>
</div>
{% endif %}

<div class="admin-actions">
{% if not propSchema.blockReference %}
<button class="{{ govukClassname('button') }}">{% if noValue %}Add{% else %}Save{% endif %} {{ prop }}</button>
{% else %}
<a class="button edit-in-place" href="/admin/select/block/{{ block }}?blockRef={{block}}&amp;propertyRef={{ prop }}">{% if value %}Change{% else %}Set{% endif %} {{ prop }}</a>
{% endif %}
{% if not noValue %}
<button name="action" value="delete" class="{{ govukClassname('button') }} button--delete">Delete {{ prop }}</button>
{% endif %}
</div>
</form>

{% if inheritedValue %}
<p>Any value set will override the value inherited from <a href="/admin/block/{{ inheritedBlockReference }}">{{ inheritedBlockReference }}</a></p>
<div role="note" aria-label="Information" class="value__inherited panel panel-border-wide info-notice">
{{ inheritedValue }}
</div>
{% endif %}
{% endif %}



{% endblock %}

{% block stylesheet %}
{{ super() }}
<style>
.blockName + h1.gv-u-heading-xlarge {
  margin-top: -1.75rem;
}
.propContainer {
  border: solid 1px #000000;
  margin-bottom: 2rem;
}
.propContainer .blockRemove {
  left: auto;
  right: 0;
  top: -2.75rem;
}
.objectPropContainer {
  border: solid 2px #000000;
  min-height: 3.75rem;
}
.objectPropContainer + .objectPropContainer .form-group::before {
  content: 'or';
  position: absolute;
  top: -2rem;
  font-size: 1.25rem;
  left: 0;
}
.propContainer textarea {
  margin: 0;
}
.propContainer .form-group {
  margin: 0;
}
.propBlockReference .form-group {
  display: none;
}

.blockReferenceLink {
  display: inline-block;
  padding: 0.75rem;
}
.propertyRow {
  padding: 1rem;
  border-bottom: solid 2px #000000;
  margin: 0;
  cursor: move;
}
.propertyRow input {
  width: 25%;
  margin-right: 1rem;
  border: solid 2px #000000;
  cursor: text;
}
.container.selected,
.propertyRow.selected {
  background-color: #ffcd99;
}
.addObjectField,
.removePropertyRow {
  color: #005ea5;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0;
}
.addObjectField {
  padding: 1rem 3rem 0.5rem 1rem;
  display: inline-block;
}
.removePropertyRow:hover {
  text-decoration: underline;
}
.propertyRow select {
  width: 28rem;
  margin-right: 1rem;
}

</style>
{% endblock %}

{% block body_end %}
{{ super() }}
<script>

jQuery(document).on('mouseover', '.blockRemove', function () {
  jQuery(this).closest('.container').addClass('selected')
})
jQuery(document).on('mouseout', '.blockRemove', function () {
  jQuery(this).closest('.container').removeClass('selected')
})

jQuery(document).on('mouseover', '.removePropertyRow', function () {
  jQuery(this).closest('.propertyRow').addClass('selected')
})
jQuery(document).on('mouseout', '.removePropertyRow', function () {
  jQuery(this).closest('.propertyRow').removeClass('selected')
})
jQuery(document).on('click', '.removePropertyRow', function() {
  jQuery(this).closest('.propertyRow').remove()
})
function outputPropertyRow (key, operator, value) {
  var optionTypes = ['equals', 'starts', 'ends', 'contains', '<', '<=', '>', '>=']
  var optionMap = {
    'equals': 'is',
    '!equals': 'is not',
    'starts': 'starts with',
    '!starts': 'does not start with',
    'ends': 'ends with',
    '!ends': 'does not end with',
    'contains': 'contains',
    '!contains': 'does not contain',
    '<': 'is less than',
    '!<': 'is not less than',
    '<=': 'is less than or equal to',
    '!<=': 'is not less than or equal to',
    '>': 'is greater than',
    '!>': 'is not greater than',
    '>=': 'is greater than or equal to',
    '!>=': 'is not greater than or equal to'
  }
  var options = ''
  function outputOption(option) {
    return '<option value="' + option + '"' + (option === operator ? ' selected="selected"' : '') + '>' + optionMap[option] + '</option>'
  }
  optionTypes.forEach(function(option){
    options += outputOption(option) + outputOption('!' + option)
  })
  return '<p class="propertyRow container"><input type="text" name="key" value="' + key + '" class="form-control"> <select name="operator" class="form-control">' + options + '</select><input type="text" name="value" value="' + value + '" class="form-control"><span class="removePropertyRow">Remove condition</span></p>'
}
jQuery('.objectPropContainer').each(function(){ 
  var $container = jQuery(this)
  var $textarea = jQuery('textarea', $container)
  var objectProp = $textarea.val()
  var objectJSON = objectProp ? JSON.parse(objectProp) : {}
  $container.append('<div class="objectFields"/>')
  var $objectFields = jQuery('.objectFields', $container)
  Object.keys(objectJSON).forEach(function(key) {
    var value = objectJSON[key].toString()
    var negate
    if (key.indexOf('!') === 0) {
      key = key.replace(/^!/, '')
      negate = true
    }
    var operator = 'equals'
    if (value) {
      if (value.match(/\.\*$/)) {
        value = value.replace(/\.\*$/, '')
        operator = 'ends'
      }
      if (value.match(/^\.\*/)) {
        value = value.replace(/^\.\*/, '')
        if (operator === 'ends') {
          operator = 'contains'
        } else {
          operator = 'ends'
        }
      }
      if (value.match(/^>\s*\d+$/)) {
        value = value.replace(/^>\s*/, '')
        operator = '>'
      } else if (value.match(/^>=\s*\d+$/)) {
        value = value.replace(/^>=\s*/, '')
        operator = '>='
      } else if (value.match(/^<\s*\d+$/)) {
        value = value.replace(/^<\s*/, '')
        operator = '<'
      } else if (value.match(/^<=\s*\d+$/)) {
        value = value.replace(/^<=\s*/, '')
        operator = '<='
      }
    }
    if (negate) {
      operator = '!' + operator
    }
    $objectFields.append(outputPropertyRow(key, operator, value))
  })
  $objectFields.hover(function() {
    window.canMove = false
  }, function() {
    window.canMove = true
  })
  $objectFields.append('<p class="addObjectField">Add condition</p>')
  $textarea.addClass('js-hidden')
  jQuery('.addObjectField', $objectFields).on('click', function(){
    jQuery(this).before(outputPropertyRow('', null, ''))
  })
})
var objectFieldsContainer = document.querySelector('.objectFields')
dragula([objectFieldsContainer], {
  revertOnSpill: true,
  ignoreInputTextSelection: true
})
jQuery('.admin-actions button').on('click', function(e) {
  jQuery('.objectFields').each(function() {
    var $objectFields = jQuery(this)
    var $textarea = $objectFields.closest('.objectPropContainer').find('textarea')
    var objectJson = {}
    jQuery('.propertyRow', $objectFields).each(function() {
      var $propertyRow = jQuery(this)
      var key = jQuery('[name="key"]', $propertyRow).val()
      var operator = jQuery('[name="operator"]', $propertyRow).val()
      var value = jQuery('[name="value"]', $propertyRow).val()
      if (operator.match(/^!/)) {
        operator = operator.replace(/^!/, '')
        if (key) {
          key = '!' + key
        }
      }
      if (operator === 'starts') {
        value = value + '.*'
      } else if (operator === 'ends') {
        value = '.*' + value
      } else if (operator === 'contains') {
        value = '.*' + value + '.*'
      } else if (operator === '<') {
        value = '<' + value
      } else if (operator === '<=') {
        value = '<=' + value
      } else if (operator === '>') {
        value = '>' + value
      } else if (operator === '>=') {
        value = '>=' + value
      }
      if (value.match(/^(true|false)$/)) {
        value = (value === 'true')
      }
      var testNumber = Number(value)
      // if (!isNaN(testNumber)) {
      //  value = testNumber
      // }
      if (key) {
        objectJson[key] = value
      }
    })
    $textarea.val(JSON.stringify(objectJson, null, 2))
    $textarea.removeClass('js-hidden')
    $objectFields.remove()
    // e.preventDefault()
    // e.stopPropagation()
  })
})
if (window !== window.parent) {
  jQuery('.admin-actions button').on('click', function(e) {
    e.preventDefault()
    e.stopPropagation()
    var $button = jQuery(this)
    var $form = jQuery('form')
    var name = $button.attr('name')
    var value = $button.attr('value')
    var action = $form.attr('action') || document.location.href
    var serialized = $form.serialize()
    if (name) {
      serialized += `&${name}=${value}`
    }
    jQuery.ajax({
      type: "POST",
      url: action,
      data: serialized,
      success: function(res, d) {
        // console.log({res, d})
        window.parent.jQuery('#frame-close').click()
      }
    })
  })
}
</script>
{% endblock %}