{% extends 'admin/admin-base/admin-base.html' %}

{% block page_title %}
Blocks - Prototype
{% endblock %}

{% block admin_content %}
<p><a class="link-back" href="/admin/blocks">Back to block types</a></p>
<h1 class="{{ govukClassname('heading-large') }}">{{ _blockType }} blocks</h1>

<p><a href="/admin/blocks/{{ _blockType }}/new">Create new {{ _blockType }} block</a></p>

<ul class="{{ govukClassname('list-bullet') }}">
{% for key in keys %}
<li><a href="/admin/block/{{ key }}">{{ key }}</a></li>
{% endfor %}
</ul>
{% if _blockType === 'Routes' %}
<p><a href="/admin/routes">View route entrypoints</a></p>
{% endif %}

{% endblock %}