{% macro String(name, args) %}
{% set options = { args: args } %}
{% set el = 'span' %}
{% if args.el %}{% set el = args.el %}{% endif %}
<{{el}} data-block-name="{{name | replace('#', '/')}}">{{ getString(name, options) | safe }}</{{el}}>
{% endmacro %}