{% macro PhaseBanner() %}
{% if getString('ServicePhase') %}
<div class="PhaseBanner {{ govukClassname('phase-banner') }}">
  <p class="PhaseBanner__content {{ govukClassname('gv-c-phase-banner__content') }}">
    <strong class="PhaseBanner__tag {{ govukClassname('phase-tag') }}">{{ Block.String('service#phase') }}</strong>
    <span class="PhaseBanner__message {{ govukClassname('gv-c-phase-banner__text') }}">{{ Block.String('service#phase_text') | safe }}</span>
  </p>
</div>
{% endif %}
{% endmacro %}
{#{{ govuk.phaseBanner(
    phase = 'beta',
    message = 'This is the first version of a new service'
) }}#}