{% from '../Input/Input.njk' import Input with context %}
{% macro Text(name, value='', error='', label='', sublabel='', hint='', multiline=false, cols=80, rows=5, placeholder='') -%}
  {{ Input(name, value=value, label=label, multiline=multiline, cols=cols, rows=rows, placeholder=placeholder) }}
{%- endmacro %}