{% extends 'admin/admin-base/admin-base.html' %}

{% block page_title %}
Select block
{% endblock %}

{% block admin_content %}
{# <p><a class="link-back" href="/admin/blocks">Back to block types</a></p> #}
<h1 class="{{ govukClassname('heading-large') }}">Select {{ _blockType }}</h1>

<ul class="{{ govukClassname('list-bullet') }}">
{% for key in keys %}
<li><form method="post" action="/admin/block/{{ key }}">
<input type="hidden" name="blockRef" value="{{ blockRef }}">
<input type="hidden" name="propertyRef" value="{{ propertyRef }}">
<button class="button button--select" type="submit">{{ key }}</button>
</form></li>
{% endfor %}
</ul>
</form>

{% endblock %}

{% block stylesheet %}
{{ super() }}
<style>
.button--select {
  background: transparent;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-decoration: underline;
  box-shadow: none;
}
.button--select:hover {
  background: transparent;
  color: #666666;
}
</style>
{% endblock %}

{% block body_end %}
{{ super() }}
<script>
if (window !== window.parent) {
  jQuery('form').on('submit', function(e) {
    e.preventDefault()
    e.stopPropagation()
    var $form = jQuery(this)
    var url = $form.attr('action')
    var data = $form.serialize()
    jQuery.ajax({
      type: "POST",
      url: url,
      data: data,
      success: function(res, d) {
        window.parent.jQuery('#frame-close').click()
      }
    })
  })
}
</script>
{% endblock %}
