{% extends "templates/base/base.html" %}
{% import "components/Utils/Utils.njk" as Utils with context %}
{% from 'components/Autotrack/Autotrack.njk' import Autotrack with context %}
{% from 'components/Back/Back.njk' import Back with context %}
{% from 'components/Breadcrumbs/Breadcrumbs.njk' import Breadcrumbs with context %}
{% from 'components/CookieMessage/CookieMessage.njk' import CookieMessage with context %}
{% from 'components/FeedbackBanner/FeedbackBanner.njk' import FeedbackBanner with context %}
{% from 'components/TopNavigation/TopNavigation.njk' import TopNavigation with context %}
{% from 'components/PhaseBanner/PhaseBanner.njk' import PhaseBanner with context %}
{% from 'components/SupportLinks/SupportLinks.njk' import SupportLinks with context %}

{% block page_title %}{{ getFormattedBodyContent(route.id, ['title', 'heading']) | striptags }}{% if route.id != route.homepage %} - {{ getFormattedBodyContent(route.homepage, ['title', 'heading']) | striptags }}{% endif %}{% endblock %}

{% block body_classes %}{{ route.template }}{% if route._isa %} {{ route._isa | replace('view:', 'view__') }}{% endif %}{% if req.disqualified %} disqualified{% endif %}{% endblock %}

{% block proposition_name %}{{ Block.String('ServiceName') }}{% endblock %}

{% block stylesheet %}
{{ super() }}
<link href="/public/stylesheets/app.css" media="screen" rel="stylesheet">
{% endblock %}

{% block head %}
{{ super() }}
<link href="/public/stylesheets/app--print.css" media="print" rel="stylesheet">
{% endblock %}

{%block cookie_message %}
{% if not req.disqualified %}
{{ CookieMessage() }}
{% endif %}
{% endblock %}

{% block after_header %}
{{ TopNavigation(route.url) }}
{% if not req.disqualified %}
{{ FeedbackBanner() }}
{% endif %}
{% endblock %}

{% block phase_banner %}
{% if not req.disqualified %}
{{ PhaseBanner() }}
{% endif %}
{% endblock %}

{% block breadcrumbs_content %}
{% if route.breadcrumbs %}
{{ Breadcrumbs(route) }}
{% endif %}
{% endblock %}

{% block grid_content %}
{% block grid_content_prepend %}{% endblock %}
<div class="{{ govukClassname('grid-row') }}">
  <div class="{{ govukClassname('column-two-thirds') }}"{% if edit %} id="contentTarget"{% endif %}>
  {% block grid_content_header_pre %}{% endblock %}
  {% block grid_content_header %}
  {% set section_heading = getFormattedBodyContent(route.id, 'section_heading', route.section_heading) %}
  <div class="grid_content_header {% block grid_content_header_classs %}{% endblock %}">
  {% if section_heading %}
  <p class="app__section_heading">{{ section_heading | safe }}</p>
  {% endif %}
  <h1 class="app__heading {{ govukClassname('heading-xlarge') }}">{{ getFormattedBodyContent(route.id, 'heading', route.id) | safe }}</h1>
  {% block grid_content_header_post %}{% endblock %}
  {% set lede = getFormattedBodyContent(route.id, 'lede') %}
  {% if lede %}
  <p class="app__lede {{ govukClassname('lede') }}">{{lede | safe }}</p>
  {% endif %}
  {% set lede_additional = getFormattedBody(route.id, 'lede_additional') %}
  {% if lede_additional %}
  {{lede_additional | safe }}
  {% endif %}
  {% block grid_content_header_extra %}{% endblock %}
  </div>
  {% endblock %}
  {% block grid_content_body %}
  {% if route.body %}
  <div class="{{ govukClassname('govuk-govspeak') }}">
  {{ getFormattedBody(route.id, 'body') | safe }}
  </div>
  {% endif %}
  {% if route.blocks %}
  <div class="{{ govukClassname('govuk-govspeak') }}">
  {{ Block.Group(blocks=route.blocks) }}
  </div>
  {% endif %}
  {% endblock %}
  {% block grid_content_extra %}
  {% if route.extraBlocks %}
  <div class="extraBlocks {{ govukClassname('govuk-govspeak') }}">
  {{ Block.Group(blocks=route.extraBlocks) }}
  </div>
  {% endif %}
  {% endblock %}
  {% block grid_content_footer %}{% endblock %}
  </div>
  <div class="{{ govukClassname('column-one-third') }}">
  {% block grid_aside %}{% endblock %}
  </div>
</div>
{% block grid_content_append %}{% endblock %}
{% endblock %}

{% block footer_support_links %}
  {% if not req.disqualified %}
  {{ SupportLinks() }}
  {% endif %}
{% endblock %}

{% block body_end %}
{{ super() }}
{# TODO: ensure that req.disqualified does what it should do #}
{# TODO: normalize env, ENV, req.env, req.ENV #}
{% if not req.disqualified %}
  {# <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script> #}
  <script src="/public/javascripts/vendor/js-cookie/js-cookie_v2.1.3.js"></script>
  <script>
  if (Cookies.get('seen_cookie_message')) {
    jQuery('#global-cookie-message').addClass('cookie-seen')
  }
  Cookies.set('seen_cookie_message', true, { expires: 28 })
  </script>
  <script>
  window.APP_VERSION = '{{ env.APP_VERSION }}'

  var searchArgs = {}
  var search = document.location.search
  if (search) {
    search = search.replace(/^\?/, '')
    var searchChunks = search.split('&')
    for (var i = 0, sLength = searchChunks.length; i < sLength; i++) {
      var argParts = searchChunks[i].split('=')
      searchArgs[argParts[0]] = argParts[1]
    }
  }
  var analytics = Cookies.getJSON('analytics') || {}
  analytics.visited = analytics.visited || {}
  if (!analytics.uuid && searchArgs.uuid) {
    analytics.uuid = searchArgs.uuid
  }
  window.setValues = {}
  window.setValues.dimension12 = analytics.uuid
  window.setValues.dimension13 = window.APP_VERSION
  window.setValues.dimension14 = analytics.referrer

  var campaignFields = ['campaignName', 'campaignMedium', 'campaignKeyword', 'campaignContent', 'campaignID']
  for (var j = 0; j < campaignFields.length; j++) {
    var campaignField = campaignFields[j]
    if (searchArgs[campaignField]) {
      analytics[campaignField] = searchArgs[campaignField]
      window.setValues[campaignField] = searchArgs[campaignField]
    }
  }

  {% if route.template != 'about' %}
  var pageStub = document.location.pathname
                  .replace(/\/$/, '')
                  .replace(/.*\//, '')
                  || 'summary'
  analytics.visited[pageStub] = true
  {% endif %}
  Cookies.set('analytics', analytics)

  var visited = []
  for (var page in analytics.visited) {
    visited.push(page)
  }

  function addParam(str, param) {
    if (analytics[param]) {
      str += '&' + param +'=' + analytics[param]
    }
    return str
  }
  jQuery('.FeedbackBanner__link a').attr('data-link-type', 'feedback-banner')

  </script>

  {{ Autotrack(env.GA_TRACKING_ID) }}

  <script>
  // Ensure printed links are fully qualified
  jQuery('a').each(function() {
    var href = jQuery(this).attr('href')
    if (href.match(/^(\/$|\/[^\/])/)) {
      if (!window.location.origin) {
        window.location.origin = window.location.protocol + '//' + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
      }
      jQuery(this).attr('href', window.location.origin + href)
    }
  })
  </script>

{% endif %}
{% endblock %}
