{% extends "templates/app/app.html" %}

{% block grid_content %}

<div class="{{ govukClassname('grid-row') }}">
  <div class="{{ govukClassname('column-two-thirds') }}">
  <h1 class="generic__heading {{ govukClassname('heading-xlarge') }}">{{ getFormattedProp(route.id, 'heading', route.id) }}</h1>
  {% set lede = getFormattedProp(route.id, 'lede') %}
  {% if lede %}
  <p class="c-summary__lede">{{lede }}</p>
  {% endif %}
  {% set lede_additional = getFormattedBody(route.id, 'lede_additional') %}
  {% if lede_additional %}
  {{lede_additional | safe }}
  {% endif %}
  {% if route.blocks %}
  <div class="{{ govukClassname('govuk-govspeak') }}">
  {{ Block.Group(blocks=route.blocks) }}
  </div>
  {% endif %}
  {% block grid_content_extra %}{% endblock %}
  </div>
</div>

{% endblock %}