@custom-selector :--heading-xlarge .heading-xlarge, .gv-u-heading-xxlarge;
@custom-selector :--button .button, .gv-c-button;
@custom-selector :--column-two-thirds .column-two-thirds, .gv-u-two-thirds;
@custom-selector :--govuk-govspeak .govuk-govspeak, .gv-s-prose;
