#global-header .header-proposition {
  display: block;
}

a[href^="/"]::after,
a[href^="http://"]::after,
a[href^="https://"]::after {
  font-weight: normal;
}

.panel,
table {
  page-break-inside: avoid;
}
