{% macro OptionLabel(option) %}
  {% if option.sublabel %}
    <span class="heading-small">{{ option.label }}</span><br>
    {{ option.sublabel }}
  {% else %}
    {{ option.label }}
  {% endif %}
{% endmacro %}