{% from '../ControlError/ControlError.njk' import ControlError with context %}
{% macro ControlLabel(name, label='', sublabel='', hint='', optional='', error='') -%}
{% set label = getFormattedBodyContent(name, 'label', name, { value: label }) %}
{% set sublabel = getFormattedBodyContent(name, 'sublabel', { value: sublabel }) %}
{% set optional = getBlockProp(name, 'optional', { value: optional }) %}
{% set hint = getFormattedBodyContent(name, 'hint', { value: hint }) %}
{% set labelExtra = getFormattedBody(name, 'label_extra') %}
{% set hintExtra = getFormattedBody(name, 'hint_extra') %}
{% set visually_hidden = getBlockProp(name, 'visuallyhidden') %}
  <label for="{{ name }}">
    <span class="form-label-bold{% if visually_hidden %} visuallyhidden{% endif %}">{{ label | safe }}{% if optional %} (optional){% endif %}</span>
      {% if sublabel %}
      <span class="form-sublabel">{{ sublabel | safe }}</span>
      {% endif %}
    {% if hint %}
      <span class="form-hint">
        {{ hint | safe }}
      </span>
    {% endif %}
    {{ ControlError(name, error) }}
  </label>
  {% if labelExtra %}<div class="labelExtra">{{ labelExtra | safe }}</div>{% endif %}
  {% if hintExtra %}<div class="hintExtra">{{ hintExtra | safe }}</div>{% endif %}
{%- endmacro %}