{% import "components/components.njk" as govuk %}
{% macro Breadcrumbs(route) %}
{% set home = getBlockProp('breadcrumb-home', 'value', 'Home') %}
{{ govuk.breadcrumbs(
    items = [
      {
        "title": home,
        "url": "/"
      },
      {
        "title": getFormattedProp(route.id, 'heading')
      }
    ]) }}
{% endmacro %}