{% from '../Fieldset/Fieldset.njk' import Fieldset with context %}
{% from '../OptionLabel/OptionLabel.njk' import OptionLabel with context %}
{% from '../SubBlock/SubBlock.njk' import SubBlock with context %}
{% macro CheckboxGroup(name, id='', inline='', label='', or=false, options='', visually_hidden=false) %}
{% set prefixedName = name %}
{% if route._prefix %}{% set prefixedName = route._prefix + prefixedName %}{% endif %}
{% set error = getError(prefixedName) %}
{% set inline = getBlockProp(name, 'inline', { value: inline }) %}
{% set label = getBlockProp(name, 'label', { value: label }) %}
{% if not options %}
{% set options = getBlockProp(name, 'options', { value: options }) %}
{% endif %}
{% if not visually_hidden %}
{% set visually_hidden = getBlockProp(name, 'visuallyhidden') %}
{% endif %}
<div class="form-group{% if error %} error{% endif %}"{% if name %} id="{% if id %}{{ id }}{% else %}{{name}}{% endif %}" data-block-name="{{name}}"{% endif %}>
{% call Fieldset(name, label=label, inline=inline, visually_hidden=visually_hidden) %}
  {% set or = getBlockProp(name, 'or') %}
  {% for option_name in options %}
    {% set checked = false %}
    {% if option_name.value or option_name.label %}
      {% set option = option_name %}
      {% set option_name = option.name %}
      {% set checked = option.checked %}
    {% else %}
      {% set option = getBlockProp(option_name) %}
    {% endif %}
    {% set option_value = 'yes' %}
    {% if option.value %}
      {% set option_value = option.value %}
    {% endif %}
    {% set prefixedOptionName = option_name %}
    {% if route._prefix %}{% set prefixedOptionName = route._prefix + prefixedOptionName %}{% endif %}
    {% if route._prefix %}{% set prefixedName = route._prefix + prefixedName %}{% endif %}
    {% set outputOption = checkNoDependency(prefixedOptionName, skipDependencyCheck) %}
    {% if option_value === getValue(prefixedOptionName) %}
      {% set checked = true %}
    {% endif %}
    {% if loop.last %}
      {% set excludes = option.excludes %}
      {% if excludes %}{% set or = true %}{% endif %}
      {% if or %}
        <p class="form-block or-block">{{ getString('string:or') }}</p>
      {% endif %}	
    {% endif %}
    {% if outputOption %}
    {% set reveals = checkReveals(prefixedOptionName, option_value) %}
    <div class="multiple-choice"{% if reveals %} data-target="reveals--{{ reveals }}"{% endif %}>
      <input id="{{ prefixedOptionName }}" type="checkbox" name="{{ prefixedOptionName }}" value="{{ option_value }}"{% if checked %} checked{% endif %}{% if reveals %} aria-controls="reveals--{{ reveals }}"{% endif %}>
    <label data-block-name={{option_name}} for="{{ prefixedOptionName }}" class="block-label selection-button-checkbox"{% if excludes %} data-excludes="true"{% endif %}>{{ OptionLabel(option) -}}</label>
    {{ SubBlock(option.subblock) }}
    </div>
    {% endif %}
  {% endfor %}
{% endcall %}
</div>
{% endmacro %}