{% macro BlockHeading(name, heading='', size='medium') -%}
{% set sizes = {
  'xlarge': 'h1',
  'large': 'h2',
  'medium': 'h3',
  'small': 'h4'
} %}
{% set heading = getFormattedBodyContent(name, 'heading', { value: heading }) %}
{% if heading %}
{% set size = getBlockProp(name, 'size', { value: size, defaultValue: 'medium' } ) %}
  <{{ sizes[size] }} class="{{ govukClassname('heading-' + size) }}">{{ heading | safe }}</{{ sizes[size] }}>
{% endif %}
{%- endmacro %}