{% macro TopNavigation(route_url) %}
<div class="TopNavigation">
<div class="{{ govukClassname('gv-o-wrapper') }}">
<ul class="TopNavigation__links">
  <li class="TopNavigation__link"><a href="/admin/pages">Pages</a></li>
  <li class="TopNavigation__link"><a href="/admin/blocks">Blocks</a></li>
  <li class="TopNavigation__link">|</li>
  <li class="TopNavigation__link"><a href="/flowchart">Flowchart</a></li>
  
  
  
  {% if block %}
    {% set routeUrl = getRouteUrl(block) %}
    {% if routeUrl and routeUrl != "/dev/null" %}
      <li class="TopNavigation__link">|</li>
      <li class="TopNavigation__link"><a href="{{ routeUrl }}">Preview page</a></li>
    {% endif %}
  {% endif %}
  {% if preview %}
    <li class="TopNavigation__link">|</li>
    <li class="TopNavigation__link"><a href="/admin/block/{{ route.id }}">Edit page</a></li>
    {% if not edit %}
      {# Fix for index not having url #}
      {% if route.url == "/" %}
        <li class="TopNavigation__link"><a href="/edit">Show edit links</a></li>
      {% else %}
        <li class="TopNavigation__link"><a href="{{ route.url }}/edit">Show edit links</a></li>
      {% endif %}
    {% else %}
      <li class="TopNavigation__link"><a href="{{ route.url }}">Hide edit links</a></li>
    {% endif %}

  {% endif %}
</ul>
</div>
</div>
{% endmacro %}
{# data-link-type="feedback-banner" #}
