{% extends "templates/app/app.html" %}
{% from 'components/ErrorSummary/ErrorSummary.njk' import ErrorSummary with context %}

{% block stylesheet %}
<link href="/public/stylesheets/govuk-form-styles.css" rel="stylesheet">
{{ super() }}
{% endblock %}

{% block back_content %}
{{ Back(app) }}
{% endblock %}

{% block grid_content_body %}
{# app.wizard.steps.count - {{ app.wizard.steps.count }}
{% if app.wizard.steps.count > 1 and route.template != 'step-by-step' %}
<a class="link-back" href="{{ getRouteUrl(wizard.stepsFlat[app.wizard.steps.count - 1]) }}">Back</a>
{% endif %} #}
{{ ErrorSummary(errors) }}
<form method="post">
{{ super() }}
{% set startPage = route.start %}
<div class="xform-group form-submit">

{% set formContinue = 'string:save-continue' %}
{% if startPage %}{% set formContinue = 'string:start' %}{% endif %}
{% if route.continue %}{% set formContinue = 'string:' + route.continue %}{% endif %}
<button class="button {% if startPage %}button-start {% endif %}next validation-submit" type="submit">{{ Block.String(formContinue) }}</button>

{% if route.multiple_add_auto %}
{{ Block.MultipleRouteAdd() }}
{% endif %}
{% if route.multiple_delete_auto %}
{{ Block.MultipleRouteDelete() }}
{% endif %}

</div>

</form>
{% endblock %}

{% block body_end %}
{{ super() }}
<script>
function unsetCheckbox(inputs) {
  inputs.prop('checked', false)
  inputs.closest('label').removeClass('selected')
}
jQuery('[data-excludes] input').on('change', function(){
  if (this.checked) {
    var inputs = jQuery(this).closest('fieldset').find('> label > input').not(this)
    unsetCheckbox(inputs)
  }
}).closest('fieldset').find('> label > input').not('[data-excludes] input').on('change', function(){
  if (this.checked) {
    var inputs = jQuery(this).closest('fieldset').find('> label[data-excludes] > input')
    unsetCheckbox(inputs)
  }
})
jQuery('input[aria-controls]').each(function(){
//on('change', function() {
  var $this = jQuery(this)
  var name = $this.attr('name')
  var controls = $this.attr('aria-controls')
  var revealsId = this.id
  var $controls = jQuery('#' + controls)
  jQuery('input[name="' + name + '"]').on('change', function(){
    var state = this.type === 'checkbox' ? this.checked : this.id === revealsId
    var classMethod = state ? 'removeClass' : 'addClass'
    var ariaHidden = state ? 'false' : 'true'
    $controls[classMethod]('js-hidden')
    $controls.attr('aria-hidden', ariaHidden)
  })
})
</script>
{% endblock %}
