{% extends "templates/generic/generic.html" %}
{% block stylesheet %}
{{ super() }}
<style>
 .govuk-box-highlight {
  background: #28a197;
  color: #ffffff;
  margin: 1em 0;
  padding: 2em 1em;
  text-align: center;
}
</style>
{% endblock %}
{% block grid_content_header_classs %}govuk-box-highlight{% endblock %}
{% block Xmain_content %}
<style type="text/css">
.govuk-box-highlight {
  background: #28a197;
  color: #ffffff;
}
.govuk-box-highlight .bold-large {
  font-size: 24px;
}
.govuk-box-highlight .heading-medium {
  font-size: 36px;
}
</style>

<div class="govuk-box-highlight">
  <h1 class="bold-large">Guide reference</h1>
  <p><strong class="heading-medium">{{ app.accessCode }}</strong></p>
  {#<h1 class="bold-large">Your guidance is ready</h1>
  <p>
    Your reference number is <br>
    <strong class="heading-medium">{{ app.accessCode }}</strong>
  </p>#}
</div>

<p>Now you’ve chosen every topic you’re interested in, you can view your step-by-step guide.</p>
<p>Take a note of your guide reference so that you can return to your guide and change it at any time.</p>

{#<h2 class="heading-medium">What happens next</h2>
<p>Blah</p>#}
<form method="post">
<p><button class="button">View your step-by-step guide</button></p>
</form>


{% endblock %}