{% macro ControlError(name, error) -%}
{% set error = getFormattedError(name, { error: error }) %}
{% if error %}
<span class="error-message" id="error-message-{{ name }}">{{ error }}</span>
{% endif %}
{%- endmacro %}