{% macro Section(name, className='', content='', postContent='', depth=2) %}
{% set gv_depth = {
  '2': 'gv-u-heading-xlarge',
  '3': 'gv-u-heading-small',
  '4': 'gv-u-heading-medium'
} %}
{% set heading = getFormattedProp(name, 'heading') %}
{% set lede = getFormattedProp(name, 'lede') %}
{% if not className %}{% set className = getFormattedProp(name, 'className') %}{% endif %}
<section id="{{ name }}" class="moj-Section moj-Section--{{ depth }}{% if className %} {{ className }}{% endif %}" data-block-name="{{name}}">
{% if heading %}
<h{{depth}} class="moj-Section__heading moj-Section__heading--{{ depth }} {{ gv_depth[depth] }}{% if className %} {{ className }}__heading{% endif %}">{{ heading | safe }}</h{{depth}}>
{% endif %}
{% if lede %}
<p class="Section__lede {{ govukClassname('lede') }}{% if className %} {{ className }}__lede{% endif %}">{{ lede | safe }}</p>
{% endif %}
{% if content %}
{{ content }}
{% endif %}
{% if caller %}
{{ caller() }}
{% endif %}
{% set body = getFormattedBody(name, 'body') %}
{% if body %}
<div class="Section__content {{ govukClassname('govuk-govspeak') }}{% if className %} {{ className }}__content{% endif %}">
{{ body | safe }}
</div>
{% endif %}
{% if depth < 5 %}
{% set subsections = getBlockProp(name, 'blocks') %}
{% if subsections.length %}
{% for subsection in subsections %}
{% set subsections = [] %}
{{ Block.Control(subsection, depth=depth+1) }}
{% endfor %}
{% endif %}
{% endif %}
{% if postContent %}
{{ postContent | safe }}
{% endif %}
</section>
{% endmacro %}