.control-group__actions {
  margin: 2rem 0 3rem;

  & .button {
    /* font-size: 1.5rem; */
    background: transparent;
    color: var(--govuk-blue);
    border-bottom-color: var(--govuk-white);
    box-shadow: none;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5rem;
  }
}
