{% macro Control(name, _blockType='', value='', error='', label='', sublabel='', hint='', heading='', inline='', depth=2, skipDependencyCheck=false) -%}
{% set prefixedName = name %}
{% if route._prefix %}{% set prefixedName = route._prefix + prefixedName %}{% endif %}
{% set outputControl = checkNoDependency(prefixedName, skipDependencyCheck) %}
{% if outputControl %}
{% set _blockType = getBlockProp(name, '_blockType', 'Text', { value: _blockType }) %}
{% if Block[_blockType] %}
{% if not getBlockProp(name, '_disabled') %}
{{ Block[_blockType](name, value=value, error=error, label=label, sublabel=sublabel, hint=hint, heading=heading, inline=inline, depth=depth) }}
{% endif %}
{% else %}<p>NO SUCH MACRO :{{ _blockType }}:</p>{% endif %}
{% endif %}
{% if flowchart %}<span></span>{% endif %}
{%- endmacro %}
